# ─────────────────────────────────────────────
# Caches
# ─────────────────────────────────────────────

**/cache/
**/caches/
**/.cache/


# ─────────────────────────────────────────────
# Runtime / State
# ─────────────────────────────────────────────

**/state/
**/runtime/
**/*.pid
**/*.sock


# ─────────────────────────────────────────────
# Logs
# ─────────────────────────────────────────────

**/logs/
**/*.log


# ─────────────────────────────────────────────
# Temporary / Backup files
# ─────────────────────────────────────────────

**/*.tmp
**/*.temp
**/*.bak
**/*.swp
**/*.swo
**/*~


# ─────────────────────────────────────────────
# Editor / OS junk
# ─────────────────────────────────────────────

.DS_Store
Thumbs.db


# ─────────────────────────────────────────────
# Secrets / credentials
# ─────────────────────────────────────────────

.env
.env.*
**/.env
**/.env.*

*.pem
*.key
*.crt


# ─────────────────────────────────────────────
# Browser / Application databases
# ─────────────────────────────────────────────

**/*.sqlite
**/*.sqlite3
**/*.db

xarchiver/
vlc/
cava/
xfce4/
Thunar/
mpv/
btop/
cava/
gtk-3.0/
gtk-4.0/
xsettingsd/
dconf/
spotify/
mozilla/
opencode/
qutebrowser/
pulse/
nwg-look/
go/
rofi/rofi-themes-collection/
obsidian/
htoprc
gh/
kdenliverc
nextjs-nodejs/
ngrok/
obs-studio/
pavucontrol.ini
